//COLORS
$color-black:black;
$color-white:white;
$color-gray:#D8D8D8;

$color-purple-primary : #A951ED;
$color-purple-secondary:#AA7ECD;

$color-orange : #FFA234;
$color-orange-dark : #F95C3C;


$color-blue:#4A90E2;
$color-light-blue: #02B3E4;
$color-blue-green-primary: #02CCBA;
$color-blue-green-secondary:#02D2C2;
$color-blue-gray : #7D97AD;



//FONTS

///ROBOTO
$robotoLight:'robotoLight';
$robotoRegular: 'robotoRegular';
$robotoMedium: 'robotoMedium';

///RUBIK
$rubikRegular: 'rubikRegular';
$rubikMedium: 'rubikMedium';
